<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>counting</title>

</head>
<body>
    <nav class="navbar navbar-dark bg-dark" >
  <a class="navbar-brand">Human Counting</a>
</nav>
    <br>
    <div class="d-flex p-5 justify-content-center">
{% for building in data %}
    <div class="card m-5 bg-secondary" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title text-white "> ตึก :{{ building.location }}</h5>
            <p class="card-text text-white">
               จำนวนคนที่เข้าทั้งหมด : {{ building.human_in }}
            </p>
            <p class="card-text text-white">
               จำนวนคนที่ออกทั้งหมด :  {{ building.human_out }}
            </p>

        </div>
    </div>

{% endfor %}
    </div>
</body>
</html>